nav li{
    text-align: center;
    list-style: none;
    font-size: 60px;
    color:red;
}
*{
    background-color: cyan;
    font-family: 'Oswald', sans-serif;
    ;
}
li{
    color:red;
}
.one{
text-align: center;
font-size: 40px;
}
footer{
    text-align:center;
    font-size: xx-large;
}